body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8e6e6;
    color: #2d2d2d;
}

header {
    background-color: #333333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem;
    text-align: center;
}

.project {
    background-color: #fff;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-items: center;
}
.project3 {
    background-color: #fff;
    margin-right:30px;
    margin-left:30px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-items: center;
    align-items: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    justify-items: center;
    padding: 0rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.container{

    width: 400px;
    border: 3px solid rgb(56, 11, 72);
    background-color: #aba8a8;
    padding: 20px 120px;
    margin: 20px;
    justify-self: center;
    
}
h3{
    text-align: center;
}
ul{
    justify-items: center;
}
.skills-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.skill-box {
    width: 300px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #000;
    text-align: center;
    position: relative;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    background-color: #a5a2a2;
}
.skill-box:hover {
    background-color: #f0f0f0;
}
.skill-details {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #000;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.skill-box:hover .skill-details {
    display: block;
}
.skills li:hover{
    transform:translateY(-5px);
    background-color:#7d7575;
}

img{
    border-radius: 60%;
    vertical-align: middle;
    width:200px;
    height:190px;
    float:center;
    border: 2px solid black;
   

}
.form-container {
    max-width: 582px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #aeabab;
}
.form-container h2 {
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group textarea {
    resize: vertical;
    height: 50px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #445779;
    color: #fff;
    font-size: 16px;
}
.form-group button:hover {
    background-color: #306b7e;
}
.button{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    
}
.contact{
text-align: center;
justify-items: center;
}



